<div class="gestion-produit-container">
    <div class="navigation-buttons">
        <button (click)="navigateTo('gestion-produit')">Gestion de Produit</button>
        <button (click)="navigateTo('credit-client')">Crédit Client</button>
        <button (click)="navigateTo('meilleur-vente')">Meilleur Vente</button>
        <button class="btn-logout" (click)="logout()">Quitter</button>
      </div>
    <h2>Gestion des Produits</h2>
  
    <!-- Barre de Recherche -->
    <div class="search-bar">
        <input
        type="text"
        placeholder="Rechercher un produit..."
        [(ngModel)]="searchQuery"
        (input)="onSearch()"
    />
      <button (click)="showAddProductPopup()" class="btn-add-product">+ Ajouter Produit</button>
      <button (click)="showAddDiscountPopup()" class="btn-add-discount">
        <i class="fa fa-tags"></i> Ajouter une Remise
    </button>
      <button (click)="exportToCSV()" class="btn-export-csv">Exporter en CSV</button>
    </div>
  
    <!-- Tableau des Produits -->
    <div class="product-list">
      <table>
        <thead>
          <tr>
            <th>Item Code</th>
            <th>Nom du Produit</th>
            <th>Quantité</th>
            <th>Prix d'Achat</th>
            <th>Prix de Vente</th>
            <th>Catégorie</th>
            <th>Fournisseur</th>
            <th>produit en promo</th>
             <th>prix promo</th>
             <th>Date d'Ajout</th> 
             <th>Date d'expiration</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let product of filteredProducts">
            <td>{{ product.itemCode }}</td>
            <td>{{ product.name }}</td>
            <td>{{ product.quantity }}</td>
            <td>{{ product.buyPrice | currency: 'MAD ':'symbol':'1.2-2'  }}</td>
            <td>{{ product.salesPrice | currency: 'MAD ':'symbol':'1.2-2'  }}</td>
            <td>{{ product.categories?.name }}</td>
            <td>{{ product.supplier }}</td>
            <td>{{ product.isPromo  ? 'Oui' : 'Non'  }}</td>
            <td>{{ product.pricePromo }}</td>
            <td>{{ product.productAddedDate}}</td>
            <td>{{ product.expiredDate}}</td>
            <td>
              <button (click)="editProduct(product)" class="btn-edit">Modifier</button>
              <button (click)="openConfirmDeletePopup(product)" class="btn-delete">Supprimer</button>
              <button
              (click)="disablePromo(product)"
              [disabled]="!product.isPromo"
              [ngClass]="{'btn-disable': !product.isPromo, 'btn-active': product.isPromo}"
              class="btn-disable-promo"
            >
              Désactiver Promo
            </button>
            </td>
          </tr>
        </tbody>
      </table>
      <!-- Pagination -->
<div class="pagination">
    <button
    *ngFor="let page of visiblePages"
    [class.active]="page === currentPage"
    (click)="onPageChange(page)"
  >
    {{ page + 1 }}
  </button>
     <!-- Menu déroulant pour les pages restantes -->
     <select (change)="onPageChangeDropdown($event)">
        <option value="" disabled selected>Autres pages</option>
        <option *ngFor="let page of remainingPages" [value]="page">
          Page {{ page + 1 }}
        </option>
      </select>
      
    </div>
    <!-- Popup de confirmation -->
<div class="popup-overlay" *ngIf="showConfirmDeletePopup">
    <div class="popup delete-confirm-popup">
      <h3><i class="fa fa-exclamation-triangle warning-icon"></i> Attention</h3>
      <p>
        Êtes-vous sûr de vouloir <strong>supprimer définitivement</strong> le produit 
        <strong>{{ deletingProduct?.name }}</strong> ?
      </p>
      <p class="warning-text">
        <i class="fa fa-info-circle"></i> 
        Cette action est <strong>irréversible</strong> : le produit sera supprimé du stock.
      </p>
      <div class="popup-actions">
        <button (click)="confirmDelete()" class="btn-confirm">Supprimer</button>
        <button (click)="cancelDelete()" class="btn-cancel">Annuler</button>
      </div>
    </div>
  </div>
  
    <!-- Popup d'Ajout/Modification de Produit -->
    <div class="popup-overlay" *ngIf="showPopup">
        <div class="popup">
          <h3>{{ editingProduct ? 'Modifier Produit' : 'Ajouter Produit' }}</h3>
          <form #productForm="ngForm" (ngSubmit)="saveProduct()" novalidate>
            <!-- Item Code -->
            <div class="form-group">
              <label for="itemCode">Item Code :</label>
              <input
                type="text"
                id="itemCode"
                [(ngModel)]="productForms.itemCode"
                name="itemCode"
                required
                #itemCode="ngModel"
              />
              <div *ngIf="(productForm.submitted || itemCode.touched) && itemCode.invalid" class="error">
                Item Code est requis.
              </div>
            </div>
      
            <!-- Nom du Produit -->
            <div class="form-group">
              <label for="name">Nom du Produit :</label>
              <input
                type="text"
                id="name"
                [(ngModel)]="productForms.name"
                name="name"
                required
                #name="ngModel"
              />
              <div *ngIf="(productForm.submitted || name.touched) && name.invalid" class="error">
                Nom du Produit est requis.
              </div>
            </div>
            <div class="form-group">
                <label for="productAddedDate">Date et Heure d'Ajout :</label>
                <input
                  type="datetime-local"
                  id="productAddedDate"
                  [(ngModel)]="productForms.productAddedDate"
                  name="productAddedDate"
                  required
                  #productAddedDate="ngModel"
                />
                <div *ngIf="(productForm.submitted || productAddedDate.touched) && productAddedDate.invalid" class="error">
                  La date et l'heure d'ajout sont requises.
                </div>
              </div>
                         
      
            <!-- Quantité -->
            <div class="form-group">
              <label for="quantity">Quantité :</label>
              <input
                type="number"
                id="quantity"
                [(ngModel)]="productForms.quantity"
                name="quantity"
                min="1"
                required
                #quantity="ngModel"
              />
              <div *ngIf="(productForm.submitted || quantity.touched) && quantity.invalid" class="error">
                Quantité est requise et doit être supérieure ou égale à 1.
              </div>
            </div>
      
            <!-- Prix d'Achat -->
            <div class="form-group">
              <label for="buyPrice">Prix d'Achat :</label>
              <input
                type="number"
                id="buyPrice"
                [(ngModel)]="productForms.buyPrice"
                name="buyPrice"
                min="0.01"
                required
                #buyPrice="ngModel"
              />
              <div *ngIf="(productForm.submitted || buyPrice.touched) && buyPrice.invalid" class="error">
                Prix d'Achat est requis et doit être supérieur à 0.
              </div>
            </div>
      
            <!-- Prix de Vente -->
            <div class="form-group">
              <label for="salesPrice">Prix de Vente :</label>
              <input
                type="number"
                id="salesPrice"
                [(ngModel)]="productForms.salesPrice"
                name="salesPrice"
                min="0.01"
                required
                #salesPrice="ngModel"
              />
              <div *ngIf="(productForm.submitted || salesPrice.touched) && salesPrice.invalid" class="error">
                Prix de Vente est requis et doit être supérieur à 0.
              </div>
            </div>
      
            <!-- Catégorie -->
            <div class="form-group">
                    <label for="category">Catégorie :</label>
                    <div class="category-container">
                      <!-- Menu déroulant -->
                      <select
                        id="categories"
                        [(ngModel)]="productForms.categories.id"
                        name="categories"
                        required
                        #category="ngModel"
                      >
                        <option value="" disabled>-- Sélectionner une catégorie --</option>
                        <option *ngFor="let category of categories" [value]="category.id">
                          {{ category.name }}
                        </option>
                      </select>
                      <!-- Message d'erreur si la catégorie n'est pas sélectionnée -->
                      <div *ngIf="(productForm.submitted || category.touched) && category.invalid" class="error">
                        La catégorie est requise.
                      </div>
                    </div>
              
                  <!-- Bouton pour ajouter une nouvelle catégorie -->
                  <button type="button" class="btn-add-category" (click)="showAddCategoryPopup()">
                    <i class="fa fa-plus"></i>
                  </button>
                </div>
              
              
              <!-- Popup pour ajouter une nouvelle catégorie -->
              <div class="popup-overlay" *ngIf="showCategoryPopup">
                <div class="popup">
                  <h3>Ajouter une Catégorie</h3>
                  <form (ngSubmit)="addCategory()" #categoryForm="ngForm">
                    <div class="form-group">
                      <label for="newCategoryName">Nom de la Catégorie :</label>
                      <input
                        type="text"
                        id="newCategoryName"
                        [(ngModel)]="newCategoryName"
                        name="newCategoryName"
                        required
                      />
                    </div>
                    <div class="popup-actions">
                      <button type="submit" class="btn-submit" [disabled]="!newCategoryName">Ajouter</button>
                      <button type="button" class="btn-cancel" (click)="hideAddCategoryPopup()">Annuler</button>
                    </div>
                  </form>
                </div>
              </div>
              
              
              
      
            <!-- Fournisseur -->
            <div class="form-group">
              <label for="supplier">Fournisseur :</label>
              <input
                type="text"
                id="supplier"
                [(ngModel)]="productForms.supplier"
                name="supplier"
              />
            </div>
            <div class="form-group">
                <label for="productAddedDate">Date d'expiration :</label>
                <input
                  type="datetime-local"
                  id="productAddedDate"
                  [(ngModel)]="productForms.productAddedDate"
                  name="productAddedDate"
                  required
                  #productAddedDate="ngModel"
                />
                <div *ngIf="(productForm.submitted || productAddedDate.touched) && productAddedDate.invalid" class="error">
                  La date d'expiration sont requises.
                </div>
              </div>
      
            <!-- Actions -->
            <div class="popup-actions">
                <button
                type="button"
                class="btn-submit"
                [disabled]="productForm.invalid"
                (click)="applyDiscount()"
              >
                Enregistrer
              </button>
              <button type="button" class="btn-cancel" (click)="hidePopup()">Annuler</button>
            </div>
          </form>
        </div>
      </div>
      
      
   
      <!-- Popup d'Ajout de Remise -->
  <div class="popup-overlay" *ngIf="showDiscountPopup">
    <div class="popup">
      <h3>Rechercher un Produit</h3>
      <input
        type="text"
        placeholder="Rechercher un produit..."
        [(ngModel)]="discountSearchQuery"
        (input)="filterDiscountProducts()"
      />
      <ul>
        <li *ngFor="let product of discountFilteredProducts" (click)="selectDiscountProduct(product)">
          {{ product.name }} - {{ product.salesPrice | currency }}
        </li>
      </ul>
      <button (click)="hideDiscountPopup()">Annuler</button>
    </div>
  </div>

  <!-- Popup d'Application de Remise -->
 <!-- Popup d'Application de Remise -->
 <div class="popup-overlay" *ngIf="showApplyDiscountPopup">
    <div class="popup">
      <div class="popup-header">
        <h3>Ajouter une Remise</h3>
      </div>
      <form>
        <!-- Champ Prix Actuel -->
        <div class="form-group">
          <label for="currentPrice">Prix Actuel :</label>
          <input type="number" id="currentPrice" [value]="selectedProduct?.salesPrice" readonly />
        </div>
        <!-- Champ Prix Promo Actuel (si en promo) -->
        <div class="form-group" *ngIf="selectedProduct?.isPromo">
          <label for="currentPromoPrice">Prix Promo Actuel :</label>
          <input type="number" id="currentPromoPrice" [value]="selectedProduct?.pricePromo" readonly />
        </div>
        <!-- Champ Remise (%) -->
        <div class="form-group">
          <label for="discount">Remise (%) :</label>
          <input
            type="number"
            id="discount"
            [(ngModel)]="discountPercentage"
            name="discountPercentage"
            (input)="calculatePromoPrice()"
            min="0"
            max="100"
          />
        </div>
        <!-- Champ Nouveau Prix Promo -->
        <div class="form-group">
          <label for="promoPrice">Nouveau Prix Promo :</label>
          <input type="number" id="promoPrice" [value]="promoPrice" readonly />
        </div>
        <!-- Actions -->
        <div class="popup-actions">
          <button type="button" (click)="applyDiscount()">Appliquer</button>
          <button type="button" (click)="hideApplyDiscountPopup()">Annuler</button>
        </div>
      </form>
    </div>
  </div>
  
  