<div class="flush-caisse-title">
    FLUSH CAISSE
  </div>
  <div class="caisse-table-container">
    <div class="caisse-table-title">
      Choisir la Caisse
    </div>
    <table class="caisse-table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Nom de la Caisse</th>
          <th>Pays</th>
          <th>Ville</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let caisse of caisses">
          <td>{{ caisse.id }}</td>
          <td>{{ caisse.nom }}</td>
          <td>{{ caisse.pays }}</td>
          <td>{{ caisse.ville }}</td>
          <td>
            <button class="btn-view-sales" (click)="loadSalesData(caisse.id)">
              Voir les ventes
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="popup-overlay" *ngIf="showPopup">
    <div class="popup">
      <h3>Ventes de la Caisse : {{ selectedCaisseName }}</h3>
  
  <table class="sales-popup-table">
  <thead>
    <tr>
      <th>Article</th>
      <th>Code</th>
      <th>Quantité</th>
      <th>Prix unitaire</th>
      <th>Prix total</th>
      <th>Remise</th>
      <th>Prix négocié</th>
      <th>Type Paiement</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of filteredSales">
      <td>{{ item.productName }}</td>
      <td>{{ item.itemCode }}</td>
      <td>{{ item.quantity }}</td>
      <td>{{ item.salesPrice | currency:'MAD' }}</td>
      <td>{{ item.totalePrice | currency:'MAD' }}</td>
      <td>{{ item.pricePromo || 'N/A' }}</td>
      <td>{{ item.negoPrice || 'N/A' }}</td>
      <td>{{ item.typePaiement || 'N/A' }}</td>
    </tr>
  </tbody>
  
</table>
      <button class="btn-close-popup" (click)="closePopup()">Fermer</button>
  </div>
</div>
<div class="navigation-buttons">
  <button (click)="navigateTo('gestion-product/list')">Gestion de STOCK</button>
  <button (click)="navigateTo('turnover')">Chiffre d'Affaire</button>
  <button (click)="navigateTo('gestion-vente')">Géstion de vente </button>
  <button (click)="navigateTo('flush-caisse')"> flush caisse</button>
  <button (click)="navigateTo('gestion-facture')">🧾 Gestion Facturese</button>
  <button (click)="navigateTo('bon-livraison')">🚚 Gestion BL</button>
  <button class="btn-logout" (click)="logout()">Quitter</button>
</div>
  
  