<div class="dashboard">
    <div class="tile" (click)="navigateTo('gestion-produit')">
      <i class="fas fa-boxes"></i>
      <span>Gestion Produit</span>
    </div>
    <div class="tile" (click)="navigateTo('caisse')">
      <i class="fas fa-cash-register"></i>
      <span>Caisse</span>
    </div>
    <div class="tile" (click)="navigateTo('meilleur-vente')">
      <i class="fas fa-chart-line"></i>
      <span>Meilleure Vente</span>
    </div>
    <div class="tile" (click)="navigateTo('credit-client')">
      <i class="fas fa-user-friends"></i>
      <span>Crédit Client</span>
    </div>
  </div>
  