/* Add application styles & imports to this file! */
@import url('https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css');
@import url('../node_modules/simple-keyboard/build/css/index.css');
body{
  
  background-color: rgb(187, 214, 199);
}
.auth-card{
  background: #c31432;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #240b36, #c31432);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #240b36, #c31432); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border-radius: 5px;
  box-shadow: 0px 0px 30px #f7f7f7;
}
label{
  color: #fff;
  font-weight: 700;
}
.user-image{
  height: 70px;
}
.auth-avatar{
  text-align: center;
  margin-top: -50px;
}
.auth{
  margin-top: 35px;
  border: none;
  border-radius: 6px;
}
.btn-my{
  background-color: #d39e00;
  border-color: #d39e00;
  color: #fff;
}
.simple-keyboard {
  max-width: 850px;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.toast-center-center {
  top: 50% !important;       /* Position verticale centrée */
  left: 50% !important;      /* Position horizontale centrée */
  transform: translate(-50%, -50%) !important; /* Ajustement pour être centré */
  z-index: 9999 !important;  /* S'assurer qu'il est au-dessus des modaux */
  width: auto !important;    /* Éviter qu'il prenne toute la largeur */
  text-align: center;        /* Centrer le texte à l'intérieur du toast */
}
