<div class="history-container">
    <h3>Historique des Produits</h3>
  
    <!-- Tableau d'historique -->
    <div class="table-wrapper">
      <table class="styled-table">
        <thead>
          <tr>
            <th>Nom du Produit</th>
            <th>ID Produit</th>
            <th>Date d'Ajout</th>
            <th>Quantité en Stock</th>
            <th>Quantité Ajoutée</th>
            <th>Date d'Ajout de Quantité</th>
            <th>ID Commande</th>
            <th>Quantité Commandée</th>
            <th>Date de Commande</th>
            <th>Prix de Vente</th>
            <th>Prix Promo</th>
            <th>Prix Négocié</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let product of productHistory">
            <td>{{ product.name }}</td>
            <td>{{ product.id }}</td>
            <td>{{ product.dateAdded | date: 'dd/MM/yyyy HH:mm' }}</td>
            <td>{{ product.stockQuantity }}</td>
            <td>{{ product.addedQuantity }}</td>
            <td>{{ product.quantityAddedDate | date: 'dd/MM/yyyy HH:mm' }}</td>
            <td>{{ product.orderId }}</td>
            <td>{{ product.orderedQuantity }}</td>
            <td>{{ product.orderDate | date: 'dd/MM/yyyy HH:mm' }}</td>
            <td>{{ product.salesPrice | currency: 'MAD ':'symbol':'1.2-2' }}</td>
            <td>
              {{ product.pricePromo > 0 ? (product.pricePromo | currency: 'MAD ':'symbol':'1.2-2') : '-' }}
            </td>
            <td>
              {{ product.negoPrice > 0 ? (product.negoPrice | currency: 'MAD ':'symbol':'1.2-2') : '-' }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  
    <!-- Totaux en bas du tableau -->
    <div class="totals-table">
      <table class="totals-styled-table">
        <thead>
          <tr>
            <th>Quantité Restante</th>
            <th>Quantité Vendue</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{ calculateRemainingQuantity() }}</td>
            <td>{{ calculateSoldQuantity() }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="navigation-buttons">
        <button (click)="navigateTo('gestion-produit')">Gestion de Produit</button>
        <button (click)="navigateTo('credit-client')">Crédit Client</button>
        <button (click)="navigateTo('meilleur-vente')">Meilleur Vente</button>
        <button (click)="navigateTo('caisse/list')">Caisse</button>
        <button class="btn-logout" (click)="logout()">Quitter</button>
      </div>
  </div>
  